---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    entry: CollectionEntry<"projects" | "research">;
    class?: string;
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<div class={Astro.props.class}>
    <h2 class="mb-2 text-lg font-semibold text-off-black">
        {entry.data.title}
    </h2>
    <div
        class="overflow-auto text-off-black [&_a]:text-link hover:[&_a]:text-link-highlight [&_p:not(:last-child)]:mb-4"
    >
        <Image
            src={entry.data.image}
            alt={entry.data.imageAlt}
            class="float-right mb-2 ml-2 h-auto max-w-[30%] rounded-md object-contain"
        />
        <Content />
    </div>
</div>
