---
import RollingDisplay from "../components/home/RollingDisplay.astro";
import Layout from "../layouts/Layout.astro";
import ProjectPreviewList from "../components/projects/ProjectPreviewList.astro";
import Link from "../components/nav/Link.astro";
---

<Layout title="home">
    <main class="w-full text-off-black">
        <section class="pt-8">
            <h1 class="text-2xl">Utku Melemetci, <RollingDisplay /></h1>
            <p class="pt-4">
                Hi! I'm Utku. I'm a 3rd year undergraduate CS student at Cornell
                University. I'm interested in tackling challenging problems in
                <strong class="font-semibold">
                    robotics, low-level and systems software, and computer
                    vision.
                </strong>
                I am fundamentally curious and value learning; I enjoy working in
                researchy environments where I have ample opportunity to obtain new
                knowledge and experiment with new ideas.
            </p>
            <p class="pt-4">
                As a researcher, I've had the pleasure of working with <Link
                    to="https://www.engineering.cornell.edu/people/kirstin-hagelskjaer-petersen/"
                    text="Dr. Kirstin Petersen"
                /> at Cornell, <Link
                    to="https://www.angeliquemtaylor.com/"
                    text="Dr. Angelique Taylor"
                /> at Cornell Tech, as well as <Link
                    to="https://www.ll.mit.edu/r-d/engineering/control-and-autonomous-systems-engineering"
                    text="Group 76"
                /> at MIT Lincoln Labs. I'm also on the autonomy subteam of
                <Link
                    to="https://www.cornellelectricvehicles.org/"
                    text="Cornell Electric Vehicles"
                />, where I work on software that allows our model- and
                full-scale electric vehicles to drive autonomously.
            </p>
            <p class="pt-4">
                If you want to talk to me about anything at all, you can send me
                an email at <code class="text-sm">contact@utku.sh</code>. You
                can also connect with me on <Link
                    to="https://www.linkedin.com/in/utku-melemetci/"
                    text="LinkedIn"
                />.
            </p>
            <section class="pt-8">
                <h1 class="text-2xl">projects</h1>
                <ProjectPreviewList collection="projects" previewCount={2} />
                <Link
                    class="mt-2 block w-fit font-semibold"
                    to="/projects"
                    text="...more"
                />
            </section>
            <section class="pt-8">
                <h1 class="text-2xl">research</h1>
                <ProjectPreviewList collection="research" previewCount={2} />
                <Link
                    class="mt-2 block w-fit font-semibold"
                    to="/research"
                    text="...more"
                />
            </section>
        </section>
    </main>
</Layout>
