---
import RollingDisplay from "../components/home/RollingDisplay.astro";
import Layout from "../layouts/Layout.astro";
import ProjectPreviewList from "../components/projects/ProjectPreviewList.astro";
---

<Layout title="home">
    <main class="w-full text-off-black">
        <section class="pt-8">
            <h1 class="text-2xl">Utku Melemetci, <RollingDisplay /></h1>
            <p class="pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                blandit est lacus, eget mollis tortor tincidunt a. Duis in
                lectus est. Quisque condimentum dolor risus, ut aliquet lectus
                placerat ut.
            </p>
            <p class="pt-4">
                Aenean vel facilisis nisi. Mauris rutrum mollis eros vel
                egestas. Ut pellentesque congue tristique. Quisque in mauris et
                ipsum congue laoreet et id felis. Praesent facilisis posuere
                quam, rhoncus placerat nisi cursus ut. Aenean ultrices hendrerit
                sapien quis dignissim.
            </p>
            <p class="pt-4">
                Ut cursus consectetur eleifend. Proin semper, lacus vitae
                rhoncus vestibulum, enim arcu convallis nisi, in scelerisque
                nibh dui ut magna. Integer ipsum quam, laoreet ac lorem vitae,
                laoreet congue metus. Nullam vehicula purus nec sem lobortis, a
                pharetra enim dignissim. Nam urna nulla, vestibulum non metus
                consequat, sodales luctus nisi.
            </p>
        </section>
        <section class="pt-8">
            <h1 class="text-2xl">projects</h1>
            <ProjectPreviewList collection="projects" previewCount={2} />
        </section>
        <section class="pt-8">
            <h1 class="text-2xl">research</h1>
        </section>
    </main>
</Layout>
