---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/projects/PageHeader.astro";
import { getCollection } from "astro:content";
import Project from "../components/projects/Project.astro";

const researchSoftware = await getCollection("research");
---

<Layout title="Research">
    <main class="px-8 pb-16 pt-24 sm:px-12">
        <PageHeader title="Research" />
        <section>
            {
                researchSoftware
                    .toSorted((a, b) => a.data.order - b.data.order)
                    .map((project) => <Project entry={project} />)
            }
        </section>
    </main>
</Layout>
