---
import Navbar from "../components/nav/Navbar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
        </style>
    </head>
    <body class="mx-auto max-w-3xl font-sans">
        <div class="p-4 sm:p-6">
            <Navbar />
            <slot />
        </div>
    </body>
</html>
