---
import NavLink from "./NavLink.astro";
---

<div>
    <nav class="flex justify-around pb-3 text-lg">
        <NavLink name="home" to="/" />
        <NavLink name="projects" to="/projects" />
        <NavLink name="research" to="/research" />
    </nav>
    <hr class="border-light-grey" />
</div>
